.listDesktop {
    display: flex;
    justify-content: space-between;

    .listItem {
        margin-right: 2rem;

        &:nth-last-of-type(1) {
            margin-right: 0;
        }
    }
}

.listMobile {
    position: absolute;
    right: 1rem;
    top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: white;

    .listItem {
        margin-bottom: 0.5rem;
        padding: 0 2rem;

        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
    }
}

.itemButton {
    background-color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition-duration: 100ms;

    &:hover {
        color: var(--red);
    }

    &:active {
        transform: scale(0.95);
    }
}

.itemButtonActive {
    color: var(--red);
}